.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.list_element {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.list_image_wrapper {
  position: relative;
  min-width: 64px;
  min-height: 64px;
  background-color: #f2f4f5;
}

.list_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list_text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list_title {
  font-size: 14px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;     /* максимум 2 строки */
  -webkit-box-orient: vertical;
  overflow: hidden;

}

.list_desc {
  font-size: 12px;
  color: #6C7072;
}