.categories {
  display: flex;
  width: 100%;
  gap: 8px;
  align-items: flex-start;
  box-sizing: border-box;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none; 
}

.item,
.active {
  display: flex;
  align-items: center;
  padding: 8px 32px;
  border: none;
  border-radius: 16px;
  background-color: #F2F4F5;
}

.active {
  background-color: #E7E7ff;
  color: #6b4eff;
}

::-webkit-scrollbar {
  display: none; 
}